<div class="container">
	<img class="logo" src="/assets/logo.png" alt="Logo">

	<div class="videoplayer">
		{{#view App.VideoView}}
			<video width="960" height="540">
				<source src="/assets/960.mp4" type="video/mp4">
				<source src="/assets/960.theora.ogv" type="video/ogg">
			</video>
		{{/view}}

		{{#view App.CurtainView}}
			<div class="curtain">
				{{#view App.ButtonPlayView}}
					<div {{action play target="controller"}} class="buttonPlay alpha"></div>
				{{/view}}
			</div>
		{{/view}}

		{{#view App.QuizView}}
			<div class="quiz">
				<div class="question alpha">
					<span>{{currentQuestionNr}}/{{amountOfQuestionsBeingAsked}}: </span> {{question}}
				</div>

				{{#collection App.AnswersView itemViewClass="App.AnswerView" contentBinding="answers"}}
					<div class="answer alpha">{{view.content.answer}}</div>
				{{/collection}}

				{{#view App.ResultView}}
					<div class="clickBlocker">
						{{#if isAnswerCorrect}}
							<div {{action nextQuestion target="controller"}} class="result alpha">
								<div class="correctIcon"></div>
								<div class="correct">Korrekt!</div>
								<div class="correct small">Klicken und nächste Frage beantworten</div>
							</div>
						{{else}}
							<div {{action play target="controller"}} class="result alpha">
								<div class="incorrectIcon"></div>
								<div class="incorrect">Leider falsch!</div>
								<div class="small incorrect">Klicken und nochmal schauen</div>
							</div>
						{{/if}}
					</div>
				{{/view}}

				{{#view App.LeftShotsView}}
					<div class="shotsLeft alpha clearfix">
						<b>Achtung:</b> {{shotsLeftGermanized}} übrig!
					</div>
				{{/view}}
			</div>
		{{/view}}

		{{#view App.GameOverView}}
			<div class="gameOver alpha">G a m e&nbsp;&nbsp;&nbsp;O v e r...</div>
		{{/view}}

		{{#view App.GameWonView}}
			<div class="gameWon alpha clearfix">
				Gewonnen!
				<div class="qr"></div>
				<div class="small">
					Hier könnten Sie Ihrem Gewinner einen Preis verleihen.<br>
					Zum Beispiel per QR-Code!<br>
					<span class="spotlight">We put you in the right spotlight</span>
				</div>
			</div>
		{{/view}}

		<img class="address" src="/assets/address.png" alt="Address">
	</div>
</div>

<div class="banner"></div>