<div class="container">
	<img class="logo" src="/assets/logo.png" alt="Logo">

	<div class="videoplayer">
		{{#view App.VideoView}}
			<video width="960" height="540">
				<source src="/assets/960.mp4" type="video/mp4">
			</video>
		{{/view}}

		{{#view App.CurtainView}}
			<div class="curtain">
				{{#view App.ButtonPlayView}}
					<div {{action play target="controller"}} class="buttonPlay alpha"></div>
				{{/view}}
			</div>
		{{/view}}

		{{#view App.QuizView}}
			<div class="quiz">
				<div class="question alpha">
					<span>{{currentQuestionNr}}/{{maxQuestions}}: </span> {{question}}
				</div>

				{{#collection App.AnswersView itemViewClass="App.AnswerView" contentBinding="answers"}}
					<div class="answer alpha">{{view.content.answer}}</div>
				{{/collection}}

				{{#view App.ResultView}}
					<div class="clickBlocker">
						{{#if isAnswerCorrect}}
							<div {{action nextQuestion target="controller"}} class="result alpha">
								<div class="correctIcon"></div>
								<div class="correct">Korrekt!</div>
								<div class="correct small">Klicken und nächste Frage beantworten</div>
							</div>
						{{else}}
							<div {{action play target="controller"}} class="result alpha">
								<div class="incorrectIcon"></div>
								<div class="incorrect">Leider falsch!</div>
								<div class="incorrect small">Klicken und nochmal schauen</div>
							</div>
						{{/if}}
					</div>
				{{/view}}

				{{#view App.LeftShotsView}}
					<div class="shotsLeft alpha">Noch {{shotsLeft}} Versuche übrig...</div>
				{{/view}}
			</div>
		{{/view}}

		{{#view App.GameOverView}}
			<div class="gameOver alpha">G a m e&nbsp;&nbsp;&nbsp;O v e r...</div>
		{{/view}}

		<img class="address" src="/assets/address.png" alt="Address">
	</div>
</div>